@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", sans-serif;
    text-decoration: none;
}



body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: #fff;
    color: #000;
}

header{
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    width: 100%;
    padding: 20px;
    background-color: #9c0000;
    z-index: 5;
    
}

header .navegacao a{
    font-size: 1.8rem;
    font-weight: 500;
    color: #cecece;
    margin-right: 30px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    transition: 0.2s ease;
}

header .navegacao a:hover{
    color: #fff;
    border-bottom: 3px solid #fff;
}

.info .turism{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(30%);
    width: 830px;
    margin-left: 10rem
}

.info .turism .title{
    font-size: 50px;
    cursor: default;
   
}

.info .turism .title span{
    color: #9c0000;
    transition: all 0.3s ease;
}

.info .turism .title span:hover{
    color: #ff0000;

}

.info .turism .desc{
    margin-top: 20px;
    font-size: 20px;
    height: 100%;
    width: 670px;
}

.info .turism .title .btn{
    margin-top: 20px;
    border: 2px solid transparent;
    border-radius: 20px;
    height: 60px;
    width: 80%;
    background-color: #9c0000;
    transition: 0.3s ease;
    cursor: pointer;
}

.info .turism .title .btn:hover{
    background-color: #ff0000;
}

.info .turism .title .btn a{
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
}

.lateral{
    display: flex;
    align-items: center;
}

.lateral .flag{
    position: relative;
    left: 25%;
    top: 2%;
}

#foto{
    filter: drop-shadow(rgba(0,0,0,0.3)5px 5px 10px);
}
.lateral .flag::before{
    content: '';
    position: absolute;
    border: 2px solid #000;
    border-radius: 50%;
    width: 450px;
    height: 450px;
}

.lateral .flag::after{
    content: '';
    position: absolute;
    border: 2px solid #000;
    border-radius: 50%;
    width: 450px;
    height: 450px;
    left: 130px;
    top: 140px;
    z-index: -1;
}

.municipio{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 830px;
    margin-top: 7%;
    margin-left: 7%;
}

.municipio h1{
    font-size: 60px;
}

.municipio h1 span{
    color: #000;
    cursor: default;
    transition: 0.3s ease;
}

.municipio h1 span:hover{
    color: #9c0000;
}

.municipio .cidades .exemplo{
    margin-top: 70px;
    height: 380px;
    width: 870px;
    position: relative;
    
}

.municipio .cidades .exemplo img{
    border: 3px solid #000;
    width: 700px;
    height: 410px;
    z-index: 3;
}

.municipio .cidades .exemplo::after{
    content: "";
    position: absolute;
    border: 3px solid #000;
    background: #9c0000;
    width: 800px;
    height: 454px;
    left: 1%;
    top: -17%;
    z-index: -1;
    transform: scale(0.8);
}

.municipio .caixa{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    position: absolute;
    top: 70%;
    left: 17%;
    gap: 10px;
}

.municipio .caixa .botao{
    
    border: 2px solid #000;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-top: 70px;
    background: #FABC3F;
}

.municipio .caixa .botao a i{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    color: #000;
    font-size: 50px;
}

.informacao{
    position: relative;
    margin-top: 7%;
    left: 8%;
}
.informacao span{
    font-size: 20px;
    font-weight: 500;
}


.informacao .info1,
.informacao .info2{
    width: 722px;
    height: 360px;
    background-color: #FABC3F;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 15px 15px;
    text-align: justify;
    box-shadow: inset 1px 1px 20px 10px rgba(0,0,0,0.3);
}

.informacao .info2{
    margin-top: 30px;
}